:root {

  /* colors */

  --dark-cyan-400: hsl(185, 75%, 39%);
  --dark-blue-800: hsl(229, 23%, 23%);
  --dark-gray-blue-300: hsl(227, 10%, 46%);

  --dark-gray-200: hsl(0, 0%, 80%);

  --white-100: hsl(0, 0%, 100%);

  /* components */

  --clr-body-bg: var(--dark-cyan-400);
  --clr-card-bg: var(--white-100);
  --clr-card-accent: var(--dark-gray-200);

  --clr-text-primary: var(--dark-blue-800);
  --clr-text-secondary: var(--dark-gray-blue-300);

  /* font size */

  --fs-300: 0.625rem;
  --fs-400: 0.75rem;

  /* font weight */

  --fw-regular: 400;
  --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles */

body {
  background-color: var(--clr-body-bg);
  color: var(--clr-text-primary);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);

  display: grid;
  place-content: center;

  background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 51vw bottom 39vh, left 48vw top 52vh;

}

div>p {
  color: var(--clr-text-secondary);
}

.card {
  background-color: var(--clr-card-bg);
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}

.card__bg {
  position: relative;
}

.card__avatar {
  position: absolute;
  border: 0.35rem solid var(--white-100);
  border-radius: 100%;
  left: 50%;
  bottom: -77%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.card__body {
  padding: 4.375rem 0 1.313rem;
  line-height: 1.7;
}

.age {
  color: var(--clr-text-secondary);
  font-weight: var(--fw-regular);
}

.card__body>p {
  font-size: 0.85rem;
  letter-spacing: 0px;
}

.card__info {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid var(--clr-card-accent);
  padding: 1.438rem 0;
}

.card__info p {
  font-size: var(--fs-300);
  letter-spacing: 1px;
}


.attribution {
  position: fixed;
  color: hsl(0, 0%, 0%);
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 100%, 25%);
}